.card-list {
  @extend %flex-wrap;
  gap: 30px;

  @media screen and (min-width: 1200px) {
    justify-content: center;
  }
}

.card-work {
  cursor: pointer;
  width: 450px;
  transition: box-shadow var(--time-transition) var(--cubic);

  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 370px;
  }

  &__thumb {
    position: relative;
    overflow: hidden;
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(101%);
    transition: transform var(--time-transition) var(--cubic);

    .card-work:hover & {
      transform: translateY(0);
    }
  }
  &__text-overlay {
    padding: 73px 24px;
    font-size: 18px;
    line-height: 1.56;
    color: var(--basic-white);

    @media screen and (max-width: 320px) {
      padding: 12px 12px;
      font-size: 14px;
    }
    @media screen and (min-width: 375px) {
      padding: 24px 24px;
      font-size: 18px;
    }
    @media screen and (min-width: 375px) {
      padding: 49px 24px;
    }

    @media screen and (min-width: 1200px) {
      padding: 63px 24px;
    }
  }

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &__wrapper {
    padding: 20px 20px;
    border: 1px solid #eeeeee;
    border-top: none;
    @media screen and (min-width: 768px) {
      padding: 18px 18px;
    }
  }

  &__subtitle {
    font-weight: 700;
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
    }
    
  

  &__text {
    font-size: 16px;
    line-height: 1.87;
  }
}