.contacts {
  display: flex;
  flex-direction: column-reverse;

  @media screen and (min-width: 768px) {
    flex-direction: column;
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
  }
}

.contacts__link {
  @extend %flex-center;

  font-weight: 500;
  font-size: 24px;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding: 16px 0px;

  transition: color var(--time-transition) var(--cubic);
  color: var(--primary-text-color);

  @media screen and (min-width: 768px) {
    line-height: 1.14;
    font-size: 12px;
    padding: 5px 0px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}

.contacts__link--size {
  font-size: 34px;
  
  @media screen and (max-width: 377px) {
    font-size: 24px;
  }
  @media screen and (min-width: 768px) {
    font-size: 12px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}

.contacts__icon {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    fill: currentColor;
    margin-right: 8px;
    width: 14px;
    height: 10px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 10px;
    width: 16px;
    height: 12px;
  }
  &--size {
    @media screen and (min-width: 768px) {
      width: 10px;
      height: 14px;
    }
    @media screen and (min-width: 1200px) {
      width: 12px;
      height: 16px;
    }
  }
}
