.site-nav__menu-link.current,
.site-nav__menu-link:hover,
.site-nav__menu-link:focus,
.site-nav__contacts-link:hover,
.site-nav__contacts-link:focus,
.address__link:hover,
.address__link:focus {
  color: var(--accent-color);
}

.address__link {
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color var(--time-transition) var(--cubic);
}
