.main-form {
  &__field {
    margin-bottom: 10px;
    position: relative;
    &:nth-last-child(-n + 1) {
      margin-bottom: 0;
    }
  }

  &__label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: var(--primary-text-color);
  }

  &__icon {
    position: absolute;
    left: 12px;
    top: 50%;
    fill: var(--title-text-color);
    transition: fill var(--time-transition) var(--cubic);

    .main-form__field:focus-within > & {
      fill: var(--accent-color);
    }
  }

  &__input {
    width: 100%;
    min-height: 40px;
    padding: 12px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    line-height: 1.1721;
    transition: border var(--time-transition) var(--cubic);

    &:focus-within {
      border-color: var(--accent-color);
    }
  }

  &__textarea {
    display: block;
    width: 100%;
    min-height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    color: var(--primary-text-color);
    padding: 12px 16px;
    margin-bottom: 20px;
    resize: none;
    transition: border var(--time-transition) var(--cubic);
    &:focus-within {
      border-color: var(--accent-color);
    }
    &::placeholder {
      color: rgba(117, 117, 117, 0.5);
    }
  }

  &__terms {
    position: relative;
    color: var(--primary-text-color);
    line-height: 1.17;
    font-size: 12px;

    @media screen and (min-width: 420px) {
      display: inline-flex;
      align-items: center;
    }

    @media screen and (min-width: 1200px) {
      line-height: 1.71;
      margin-left: 14px;
      font-size: 14px;
    }
  }

  &__terms-link {
    color: var(--accent-color);
  }

  &__agree {
    @media screen and (max-width: 479px) {
      text-align: center;
    }
  }
}
