.btn {
  background-color: var(--accent-color);
  font-family: inherit;
  color: var(--basic-white);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  padding: 10px 32px;
  min-width: 200px;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.submit-btn {
  margin: auto;
  display: block;
  margin-top: 30px;
}

.header__button {
    position: fixed;
    top: 10px;
    right: 15px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    z-index: 991;
  @media screen and (min-width: 768px) {
    display: none;
  }

  &:hover .icon-menu-close,
  &:hover .icon-menu-open {
    fill: var(--accent-color);
  }
}
.header__button .icon-menu-close {
  display: none;
}
.header__button.is-open .icon-menu-close {
  display: block;
}
.header__button.is-open .icon-menu-open {
  display: none;
}
