.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity var(--time-transition) var(--cubic),
    visibility var(--time-transition) var(--cubic);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow-y: auto;
  padding: 40px;
  background-color: var(--basic-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);

  transition: transform var(--time-transition) var(--cubic);

  @media screen and (max-width: 479px) {
    padding: 15px;
    width: calc(100% - 20px);
  }
  @media screen and (min-width: 480px) and (max-width: 1199px) {
    width: 450px;
  }

  &__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;

    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--basic-white);
    cursor: pointer;
    transition: fill var(--time-transition) var(--cubic);

    &:hover,
    &:focus {
      fill: var(--accent-color);
    }
  }
  &__close-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__title {
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 12px;

    color: var(--title-text-color);
  }
}
